# Ignore configuration files that may contain sensitive information.
drupal/sites/*/*settings*.php

# Ignore paths that contain generated content.
drupal/cache/
drupal/files/
drupal/sites/*/files
drupal/sites/*/private

# Ignore default text files
.htaccess
robots.txt
/CHANGELOG.txt
/COPYRIGHT.txt
/INSTALL*.txt
/LICENSE.txt
/MAINTAINERS.txt
/UPGRADE.txt
/README.txt
sites/all/README.txt
sites/all/modules/README.txt
sites/all/themes/README.txt
